.createProduct{
    background-color: var(--background);
    min-height: 90vh;
}
.createProduct .container{
    padding: 25px;
}
.createProduct .container h3{
    margin-bottom: 20px;
    width: 100%;
}
.createProduct .container .formik{
    
} 
.createProduct .container .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    max-width: 1000px;
}
.createProduct .container .input{
    width: 48%;
    margin-bottom: 20px;
}
.createProduct .container .input label{
}
.createProduct .container button{
    width: 100%;
}

@media only screen and (max-width: 768px){
    .createProduct .container .input{
        width: 100%;
    }
    .createProduct .container{
        padding-bottom: 80px;
    }
}